.senate-section {
  background-color: #c2c8af;
  padding: 32px 0;
}

.senate-section-title {
  font-family: "Lexend", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 32px;
}

.senate-link {
  border: 1px solid;
  padding: 8px 16px;
  border-radius: 16px;
}
