.community-section {
  background-color: #e8e1cf;
}

.community-section-title {
  font-family: "Lexend", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.divider {
  display: block;
  width: 10%;
  height: 1px;
  background-color: #6d5745;
}
