.community-section {
  background-color: #e8e1cf;
  padding: 32px 0;
}

.community-section-title {
  font-family: "Lexend", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.community-section-location {
  font-size: 24px;
}

.community-section-menu-header {
  text-transform: uppercase;
}

@media (max-width: 768px), (max-height: 768px) {
  .community-section-location {
    font-size: 12px;
  }
}
