.community-section {
  background-color: #e8e1cf;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.community-section-title {
  font-family: "Lexend", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.community-section-menu-header {
  text-transform: uppercase;
}
