.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid white;
}

.hero-title {
  margin: 0px 16px;
}

.hero-title {
  color: white;
  font-size: 80px;
  font-family: "Lexend", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 20px;
}

.hero-subtitle {
  color: white;
  font-size: 80px;
  font-family: "Dancing Script", cursive;
  font-weight: 300;
  margin: 0;
}

.hero-arrow {
  color: white;
  margin-top: 24px;
  font-size: 32px;
  animation: bounce 1.8s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(6px);
  }
  60% {
    transform: translateY(3px);
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 48px;
    letter-spacing: 10px;
  }

  .hero-subtitle {
    font-size: 48px;
  }

  .hero-arrow {
    font-size: 16px;
    margin-top: 12px;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(3px);
    }
    60% {
      transform: translateY(1.5px);
    }
  }
}

@media (max-width: 600px) {
  .hero-title {
    font-size: 24px;
    letter-spacing: 5px;
  }

  .hero-subtitle {
    font-size: 24px;
  }

  .hero-arrow {
    font-size: 8px;
    margin-top: 6px;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(1.5px);
    }
    60% {
      transform: translateY(0.75px);
    }
  }
}
