.resources-section {
  background-color: #e8e1cf;
}

.resources-section-title {
  font-size: 64px;
  font-family: "Lexend", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.resources-section-text {
  font-size: 24px;
}
