.about-section {
  background-color: #e8e1cf;
}

.about-section-title {
  font-family: "Lexend", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.about-section-text {
  font-size: 24px;
}

@media (max-width: 768px), (max-height: 768px) {
  .about-section-text {
    font-size: 12px;
  }
}
