.about-section {
  background-color: #e8e1cf;
  font-family: "Fira Code", monospace;
  color: #6e5745;
}

.about-section-title {
  font-size: 64px;
  font-family: "Lexend", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.about-section-text {
  font-size: 24px;
}
