* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
  background-color: #e8e1cf;
  color: #6e5745;
}

a {
  color: #6e5745;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}
a:hover {
  transform: translateY(-3px);
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 24px;
}

@media (max-width: 768px), (max-height: 768px) {
  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 18px;
  }
}
