* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
  background-color: #e8e1cf;
  color: #6e5745;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 24px;
}

@media (max-width: 768px), (max-height: 768px) {
  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 12px;
  }
}
